@charset "utf-8";
@font-face {
    font-family:'calvino' ;
    src: url(calvino/Calvino-Grande-Black-trial.ttf) format('truetype');
}
@font-face {
    font-family: 'neon' ;
    src: url(neon_80s/Neon.ttf) format('truetype');
}
@font-face {
    font-family:'main' ;
    src: url(mainstay/Mainstay.ttf) format('truetype');
}
@font-face {
    font-family:'cham' ;
    src: url(champagne_limousines/Champagne\ &\ Limousines.ttf) format('truetype');
}
*{
    margin: 0;
}
body{
    background-image:linear-gradient(to bottom,#d43c09,#fbe0c7,#d56945,#c6400b,#d43c09);
}
header{
    padding-top: 20px;
    height: 230px;
}
header> h1{
    font-family: 'neon','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #43c7d9;
    background-color: white;
    padding:20px;
    margin-top: 20px;
    width: 300px;
    margin: auto;
    border-radius: 40px 10px;
    font-size: 3em;
}
header> h2{
    color: rgb(248, 248, 248);
    padding: 30px;
    text-align: center;
    font-family:'neon' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header> p{
    color: rgb(255, 254, 254);
    text-align: center;
    font-family:'neon' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    padding-top:20px ;
    max-width: 800px;
    margin:auto;
}
section#Projeto{
}
section#Projeto> div{
    height: 250px;
    padding-top:20px;
    background-image: url(pexels-pixabay-59999.jpg);
    background-attachment: fixed;
    text-align: center;
    margin: auto;
}
section#Projeto> div> h2{
    font-family:'neon' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:white ;
    color: rgb(7, 6, 6);
    border-radius: 60px, 10px;
    width: 130px;
    text-align: center;
}
section#Projeto> div> p{
   background-color: rgba(184, 187, 190, 0.674);
   padding: 20px;
   text-align: justify;
   font-family: 'cham' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.08em;
   font-weight:600 ;
}
section#Pesquisas> div{
    height: 450px;
    padding-top:20px;
    background-image: url(pexels-lukas-1414126\ \(1\).jpg);
    background-attachment: fixed;
}
section#Pesquisas> div> h2{
    font-family:'neon' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:white ;
    color: rgb(7, 6, 6);
    border-radius: 60px, 10px;
    width: 300px;
    text-align: center;
}
section#Pesquisas> div> p{
   background-color: rgba(184, 187, 190, 0.674);
   text-align: justify;
   padding: 20px;
   font-family: 'cham' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.08em;
   font-weight:600 ;
}
section#Produto> div{
    height: 230px;
    padding-top:20px;
    background-image: url(pexels-engin-akyurt-1435735.jpg);
    background-attachment: fixed;
}
section#Produto> div> h2{
    font-family:'neon' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:white ;
    color: rgb(7, 6, 6);
    border-radius: 60px, 10px;
    width: 150px;
    text-align: center;
}
section#Produto> div> p{
   background-color: rgba(184, 187, 190, 0.674);
   text-align: justify;
   padding: 20px;
   font-family: 'cham' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.08em;
   font-weight:600 ;
}
section#Mercado> div{
    height: 400px;
    padding-top:20px;
    background-image: url(pexels-olga-1153655\ \(1\).jpg);
    background-attachment: fixed;
}
section#Mercado> div> h2{
    font-family:'neon' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:white ;
    color: rgb(7, 6, 6);
    border-radius: 60px, 10px;
    width: 150px;
    text-align: center;
}
section#Mercado> div> p{
   background-color: rgba(184, 187, 190, 0.674);
   text-align: justify;
   padding: 20px;
   font-family: 'cham' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.08em;
   font-weight:600 ;
}
a{
    text-decoration: none;
    color: #a02f03;
}
section#Desafios{
    height: 230px;
    padding-top:20px;
    background-image: url(pexels-quang-nguyen-vinh-2135677.jpg);
    background-attachment: fixed;
}
section#Desafios> div> h2{
    font-family:'neon' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:white ;
    color: rgb(7, 6, 6);
    border-radius: 60px, 10px;
    width: 200px;
    text-align: center;
}
section#Desafios> div> p{
   background-color: rgba(184, 187, 190, 0.674);
   padding: 20px;
   text-align: justify;
   font-family: 'cham' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.08em;
   font-weight:600 ;
}
footer{
    max-width: 800px;
    margin: auto;
}
footer> h2{
    font-family:'neon' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    text-align: center;
    padding: 10px;
    color: #43c7d9;
}
footer> p{
    font-family:'neon' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
    color: #3598a5;
}




